#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*[Bb]in/
*[Bb]in/**
*[Oo]bj/
*/obj/
*/bin/
[Bb]in
*[Dd]ebug/
*.sbr
[Rr]elease*/
*.cache